html,
body,
#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

.el-table {
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination {
    margin-top: 15px;
}

.el-cascader-menu {
    height: 300px;
}

.el-steps {
    margin: 15px 0;
}

.el-step__title {
    font-size: 13px;
}

.ql-editor {
    min-height: 300px;
}